body{
	background-image: url(../img/beijing.jpg);
}

.position{
	width: 1200px;
	height: 165px;
	position: relative;
	margin: 0 auto;
	z-index: 100;
}

.logo{
	width: 513px;
	height: 88px;
	float: left;
	margin-top: 10px;
}

.favorite{
	position: absolute;
	right: 160px;
	top: 8px;
}

.iframe{
	float: right;
	display: block;
	margin-top: 35px;
}
#search{
	width: 260px;
	height: 30px;
	border: 1px solid #D2D2D2;
	display: block;
	position: absolute;
	right: 0px;
	top: 75px;
	border-radius: 30px;
	background: #fff;
}


#search .search_input{
	width: 185px;
	height: 30px;
	float: left;
	border:none;
	background:none;
	margin-left: 20px;
}

#search .search_button{
	width: 30px;
	height: 30px;
	float: right;
	background: url(../img/search.png) no-repeat center;
	border: none;
	padding-right: 45px;
	
}
